<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
</head>
<body>
    <div class="main__body">
        <div class="main__header">
                <h2>Wheater Report</h2>
        </div>
        <div class="main__form">
            <form action="/" method="POST">
                <label for="wheather">Wheather</label>
                <input type="text">
                <input type="submit">
            </form>
        </div>
    </div>
</body>
</html>